html,
body {
    height: 100%;
    margin: 0;
    background-color: whitesmoke;
}

.container {
    height: 100%;
    display: grid;
    grid-template-areas:
        'left main right'
        'footer footer footer';
}

.main {
    grid-area: main;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    width: 330px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin: 15px;
    border-radius: 15px;
    width: 300px;
    height: 300px;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    width: 75%;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

p {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    color: hsl(212, 45%, 89%);
    width: 75%;
    text-align: center;
}

.footer {
    grid-area: footer;
    font-size: 11px;
    text-align: center;
}

.footer a {
    color: hsl(228, 45%, 44%);
}